In [2]:
import numpy as np
import scipy
import scipy.stats as stats
from scipy.stats import rankdata, kruskal
from collections import Counter
from itertools import combinations,chain
import pandas as pd

# Mann-Whitney U Test

In [3]:
def get_MW_frequency_table(n,m):
    assert n<=m
    rank_sums=[sum(tup) for tup in combinations(range(1,n+m+1),n)]
    value,counts=np.unique(rank_sums,return_counts=True)
    freq=counts/counts.sum()
    return value,freq

value,freq=get_MW_frequency_table(4,4)
value,freq.cumsum()

(array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]),
 array([0.01428571, 0.02857143, 0.05714286, 0.1       , 0.17142857,
        0.24285714, 0.34285714, 0.44285714, 0.55714286, 0.65714286,
        0.75714286, 0.82857143, 0.9       , 0.94285714, 0.97142857,
        0.98571429, 1.        ]))

In [12]:
sample1=[1,2,3,5]
sample2=[4,6,7,8]
stats.mannwhitneyu(sample1,sample2,use_continuity=False,alternative="less",method="exact")
sz1=len(sample1)
sz2=len(sample2)
print(np.sum(sample1)-sz2*(sz2+1)/2)
print(np.sum(sample2)-sz1*(sz1+1)/2)

1.0
15.0

In [23]:
def get_rank_sum_frequency_table(n):
    s=range(1,n+1)
    powerset=chain.from_iterable(combinations(s, r) for r in range(n+1))
    signed_ranks=list()
    for subset in powerset:
        signed_ranks.append(sum(subset))
    value,counts=np.unique(signed_ranks,return_counts=True)
    freq=counts/counts.sum()
    return value,freq
value,freq=get_rank_sum_frequency_table(11)
pd.DataFrame({"value":value,"freq":freq.cumsum()}).iloc[:20]

    value      freq
0       0  0.000488
1       1  0.000977
2       2  0.001465
3       3  0.002441
4       4  0.003418
5       5  0.004883
6       6  0.006836
7       7  0.009277
8       8  0.012207
9       9  0.016113
10     10  0.020996
11     11  0.026855
12     12  0.033691
13     13  0.041504
14     14  0.050781
15     15  0.061523
16     16  0.073730
17     17  0.087402
18     18  0.103027
19     19  0.120117

In [25]:
difference_arr=[2,4,10,12,16,15,4,27,9,-1,15]
stats.wilcoxon(difference_arr,mode="exact")

WilcoxonResult(statistic=1.0, pvalue=0.001953125)

# Kruskal-Wallis H-Test

In [3]:
lab_data=pd.read_csv("lab_data.csv")

In [11]:
lab_data_ranks=rankdata(lab_data.values.ravel()).reshape(*lab_data.shape)
N=lab_data_ranks.size
J=lab_data_ranks.shape[0]
averaged_ranks=lab_data_ranks.mean(axis=0)
SSB=np.sum(J*(averaged_ranks-(N+1)/2)**2)
K=12/(N*(N+1))*SSB
print(K)

29.507565392354127

In [10]:
sample_list=[arr.squeeze() for arr in np.array_split(lab_data.values,7,axis=1)]
kruskal(*sample_list)

KruskalResult(statistic=29.605984376371413, pvalue=4.6701021928163535e-05)