In [4]:
import pandas as pd
import numpy as np

In [13]:
s = pd.Series(range(5))
s.rolling(window=3)

Rolling [window=3,center=False,axis=0,method=single]

In [16]:
for g in s.rolling(window=2):
    print((g))

0    0
dtype: int64
0    0
1    1
dtype: int64
1    1
2    2
dtype: int64
2    2
3    3
dtype: int64
3    3
4    4
dtype: int64

In [8]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})
df.ewm(alpha=1).mean()

     B
0  0.0
1  1.0
2  2.0
3  2.0
4  4.0